@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
body {
  font-size: 15px;
  color: #525d67;
  background: rgba(246, 248, 250, 1);
  font-family: 'Avenir Next', "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate3d(0,0,0);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

/* line 25, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 29, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
  color: #2c3e50;
}

/* line 34, ../sass/screen.scss */
h1, h2 {
  font-size: 1.2rem;
}

/* line 38, ../sass/screen.scss */
h3 {
  font-size: 1rem;
  font-weight: bolder;
}

/* line 43, ../sass/screen.scss */
hr {
  width: 10%;
  border: 1px solid #eee;
  margin-bottom: 30px;
}

@font-face {
  font-family: "orange juice";
  src: url('../fonts/orangejuice.ttf?1370940000') format('truetype');
}
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?1414682458') format('truetype'), url('../fonts/iconfont.otf') format('opentype'), url('../fonts/iconfont.woff?1414682458') format('woff'), url('../fonts/iconfont.svg?1414682458') format('svg');
}
/* line 51, ../sass/screen.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2em;
  color: #9932CC;
  text-shadow: #fff 1px 1px 1px;
}

/* line 62, ../sass/screen.scss */
#layout {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 67, ../sass/screen.scss */
#layout header, #layout footer {
  -webkit-flex: 1 0 100%;
  flex: 1 0 100%;
}
/* line 71, ../sass/screen.scss */
#layout header {
  /*background: #fe4444;
  height: 80px;*/
}
/* line 76, ../sass/screen.scss */
#layout nav {
  height: 100%;
  
}
/* line 80, ../sass/screen.scss */
#layout nav ul {
  padding: 0;
  margin: -.5em;
  min-width: 58%;
  /* fix for old Firefox */
  display: -webkit-flex;
  display: flex;
  float: right;
 
  width:50vw;
}
/* line 89, ../sass/screen.scss */
#layout nav li {
  font-family: "orange juice";
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bolder;
  margin: .5em .5em;
  display: inline-block;
  /* non-flexbox browsers */
  -webkit-flex: 1 1 30%;
  flex: 1 1 30%;
}
/* line 97, ../sass/screen.scss */
#layout nav li a {
  color: rgba(88,79,96,0.87);
  text-decoration: none;
}
/* line 103, ../sass/screen.scss */
#layout nav .author {
  display: inline-block;
  width: 115px;
  height: 115px;
  margin: 0px 150px 0 230px;
  float: left;
  padding: 10px 0 0 0;
}
/* line 111, ../sass/screen.scss */
#layout nav .icon {
  display: inline-block;
  overflow: hidden;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 115, ../sass/screen.scss */
#layout nav .icon img {
  width: 100%;
  height: 100%;
}
/* line 122, ../sass/screen.scss */
#layout article {
  margin: 65px auto;
  max-width: 75%;
  min-width: 50%;
  line-height: 2em;
  font-size:;
}
/* line 126, ../sass/screen.scss */
#layout article a {
  color: rgba(88,79,96,0.87);
  font-size: 1.2em;
  text-decoration: none;
}
/* line 132, ../sass/screen.scss */
#layout article .title {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  font-family: "微软雅黑", Yahei, Vernada;
  margin-bottom: 20px;
  font-size: 1.5em;
}
/* line 133, ../sass/screen.scss */
#layout article .title .underline {
  display: block;
  width: 150px;
  background: rgba(88,79,96,0.87);
  height: 2px;
  position: absolute;
  bottom: -5px;
}
/* line 147, ../sass/screen.scss */
#layout article .info {
  font-style: italic;
  float: right;
  margin: 30px;
  font-size: 0.9em;
}
/* line 153, ../sass/screen.scss */
#layout article .forb {
  clear: both;
  font-size: 0.8em;
  text-align: right;
  padding-right: 30px;
}
/* line 159, ../sass/screen.scss */
#layout article .comment {
  font-size: 1em;
}
/* line 162, ../sass/screen.scss */
#layout article li {
  line-height: 1.5em;
  margin: 0 0 1.5rem;
  padding: 0;
  list-style: none;
}
/* line 167, ../sass/screen.scss */
#layout article li time {
  color: rgba(88,79,96,0.87);
  margin-right: 20px;
}
/* line 173, ../sass/screen.scss */
#layout article .year {
  color: #6b747f;
  text-transform: uppercase;
  margin: 25px 0;
  font-weight: bolder;
  font-size: 1.6em;
}
/* line 182, ../sass/screen.scss */
#layout footer {
  text-align: center;
  font-size: 0.8em;
}
/* line 187, ../sass/screen.scss */
#layout #player-btn {
  position: absolute;
  top: 10px;
  left: 25%;
}
